{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>{{ post.user.username }}'s Post</h2>
    <p>{{ post.content }}</p>
    {% if post.image %}
    <img src="{{ post.image.url }}" alt="Post Image" class="img-fluid">
    {% endif %}
    <p>{{ post.created_at }}</p>

    <!-- Display Comments -->
    <ul>
        {% for comment in post.comments.all %}
        <li>{{ comment.user.username }}: {{ comment.content }} ({{ comment.created_at }})</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
